* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../public/images/header-image.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-content {
  margin: 130px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  color: #fff;
  max-width: 60%;
}

.home-content h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  margin-bottom: 25px;
  font-size: 3rem;
}

.home-content h3 {
  font-size: 1.3rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.home-content h4 {
  font-size: 1.1rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 35px;
}

.contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px auto;
}

input {
  font-family: "Poppins", sans-serif;
}

.email-form {
  padding: 14px 20px;
  width: 50%;
  font-size: 20px;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  overflow: hidden;
}

.form-mar {
  margin-left: 100px;
  margin-right: 20px;
}

.email-form:focus {
  outline: 2px solid #fff;
}

@media screen and (max-width: 900px) {
  .home-content {
    max-width: 100%;
    margin: 20px;
  }
  .home-content h1 {
    margin-top: 20px;
    font-size: 2.5rem;
  }

  .home-content h3 {
    font-size: 1.2rem;
  }
  .home-content h4 {
    font-size: 1rem;
  }

  .contact {
    flex-direction: column;
    width: 100%;
  }

  .contact input {
    width: 100%;
  }

  .contact .form-mar {
    margin: 0px;
    padding: 20px;
  }
}
